<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCoCx3iX5rCCpQ3NyTXRaW9nnPsXsPzlUI</string>
	<key>GCM_SENDER_ID</key>
	<string>900557872438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.daikikaneda.bitMath</string>
	<key>PROJECT_ID</key>
	<string>bit-math-dbfb2</string>
	<key>STORAGE_BUCKET</key>
	<string>bit-math-dbfb2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900557872438:ios:cdd9d559fcdfef8b442797</string>
</dict>
</plist>